swiss_bank_agent/backend/.env
swiss_bank_agent/backend/.vscode/
swiss_bank_agent/backend/services/__pycache__/
swiss_bank_UI/node_modules/
swiss_bank_UI/.env
swiss_bank_UI/dist/
node_modules/
.vscode/
swiss_bank_UI/client_secret_129494935289-52fdimrvm4gu9p3vg50ull6ehl9f5u18.apps.googleusercontent.com.json